html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{font-family: Helvetica, Arial, sans-serif; font-size:16px; }

html, body {
    padding:0;
    margin:0;
    height:100%;
}

input[type="text"], input[type="password"] {
    font-size:18px;
}

a, a:visited {
    text-decoration:none;
}

a {
    color: #0a51bb; //114466;
}

a:visited {
    color: #444466;
}

div#contents {
    padding: 20px;
}

.welcomeEntry {
    font-weight: bold;
    font-size: 1.2em;
    padding-right: 2.5em;
}

h3 {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navLink {
    padding-left: 20px;
}

#map_canvas {
    width: 480px;
    height: 480px;
}
#mapset_canvas {
    width: 340px;
    height: 480px;
    overflow: auto;
}
#mapsetlib_canvas {
    width: 340px;
    height: 480px;
    overflow: auto;
    background: #C8C8C8;
}

#mapLayerList {
    margin: 2px;
}

#mapSetName {
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 15px;
    margin-top: 10px;
}

#save {
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 10px;
}

.layerEntry {
    margin: 5px;
    padding-left: 5px;
    padding-right: 3px;
}

.layer-entry-left {
    width: 5%
}

.layer-entry-mid {
    width: 90%
}

.layer-entry-right {
    width: 5%
}

.libraryEntry {
    width: 290px;
    margin: 5px;
    padding-left: 15px;
    background: #C8C8C8;
    border: 1px solid #CCCCCC;
    color: #1C94C4;
    font-weight: bold;
}
