{% extends "base.html" %}

{% block head %}
   {{ block.super }}
    <title>{{ mapset.name }} - {{ settings.SITE_TITLE }}</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
{% endblock head %}

{% block style %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}external/css/smoothness/jquery-ui-1.8.21.custom.css"></link>

    {{ block.super }}
{% endblock style %}

{% block scripts %}
   {{ block.super }}

{% if not settings.GEOCAM_MAP_SET_DISABLE_MAPS %}
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
{% endif %}
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery-1.7.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}external/js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}geocamMapSet/js/geocamMapSetLib.js"></script>
{% endblock scripts %}
   
{% block contents %}
    <table id="mapSetTable">
      <tr>
        <td><div id="map_canvas"></div></td>
        <td><div id="mapset_canvas"></div></td>
        <td>
          <div>
            <div class="columnHeader">Layer Library</div>
            <div class="columnHeader">(drag and drop layers into your map set)</div>
          </div>
          <div id="mapsetlib_canvas"></div>
        </td>
      </tr>
    </table>    
    <!-- <input type="button" value="ToggleEditingMode" onclick="testToggle(myMapSetManager)"> -->
    <div id="dialogDiv" style="display: none;"></div>
{% endblock contents %}

{% block jsInit %}
      {{ block.super }}

      var STATIC_URL = '{{ STATIC_URL }}';

      var settings = {{ settingsJson|safe }};

      var myMapSetManager;
      function initialize() {
          var spec = '{{ mapset.get_absolute_url }}';

          if (settings.GEOCAM_MAP_SET_DISABLE_MAPS) {
              $('#map_canvas').html('<div style="margin-top: 150px; align: center;">settings.GEOCAM_MAP_SET_DISABLE_MAPS == True</div>');
          } else {
              var myOptions = {
                  center: new google.maps.LatLng(35, -95),
                  zoom: 4,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
              };
              var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
          }
          
          myMapSetManager = geocamMapSetLib.MapSetManager(spec, map, '#mapset_canvas',
          {
              'libraryDiv': '#mapsetlib_canvas',
              'libraryUrl': '{% url geocamMapSet_libraryIndex %}',
              'newLayerUrl': '{% url geocamMapSet_newLayer %}',
              'termsOfServiceUrl': '{% url termsOfService %}'
          });
                    
      }
     
      function testToggle(myMapSetManager) {
          var editable = myMapSetManager.isEditable();
          if (editable) {
              myMapSetManager.disableEditing();
          } else {
              myMapSetManager.enableEditing();
          }
      }

      $(initialize());
{% endblock jsInit %}
