<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MapMixer</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}mixer/css/base.css"></link>
  </head>
  <body>

    <div id="header">
      <div style="padding: 20px;">
        <img src="{{ STATIC_URL }}mixer/icons/mapMixerLogo.png"/>
        <span style="padding-left: 50px;" id="loginLogout"></span>
      </div>
      <div>
        <span class="navLink"><a href="#welcome">Welcome</a>
        <span class="navLink"><a href="#dash">Dashboard</a>
      </div>
    </div>

    <div id="content" style="padding: 20px;"></div>

    <script data-main="{{ STATIC_URL }}mixer/js/main" src="{{ STATIC_URL }}external/js/require-jquery.js"></script>
    <script type="text/javascript">
      STATIC_URL = "{{ STATIC_URL }}";
    </script>
  </body>
</html>
