<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>MapMixer</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    {% load compressed %}
    {% compressed_css 'master' %}
  </head>
  <body>

    <div id="header">
      <div style="padding: 20px;">
        <img src="{{ STATIC_URL }}mixer/icons/mapMixerLogo.png"/>
        <span style="padding-left: 50px;" id="loginLogout"></span>
      </div>
      <div>
        <span class="navLink"><a href="#welcome">Welcome</a>
        <span class="navLink"><a href="#dash">Dashboard</a>
      </div>
    </div>

    <div id="content" style="padding: 20px;"></div>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    {% compressed_js 'master' %}

    <script id="welcomeTemplate" type="text/html" src="{{ STATIC_URL }}mixer/templates/welcome.html"></script>
    <script id="mapSetTemplate" type="text/html" src="{{ STATIC_URL }}geocamMapSet/templates/mapSet.html"></script>
    <script type="text/javascript">
      STATIC_URL = "{{ STATIC_URL }}";
    </script>
  </body>
</html>
