{% extends "base.html" %}

{% block contents %}

<img width="600" height="250" src="{{ STATIC_URL }}mixer/mapMixerWelcomeBanner.jpg"/>

<p>MapMixer helps you put together different feeds of map data from
anywhere on the web. It's easy to create a map set and share it with
your team.</p>

<h3>View some popular map sets:</h3>

<p>
  <a class="welcomeEntry" href="{% url geocamMapSet_view "user37" "hurricaneIrene2011" %}">Hurricane Irene Maps</a>
  <a class="welcomeEntry" href="{% url geocamMapSet_view "user19" "thailandFlood2011" %}">Thailand Flood Maps</a>
  <a class="welcomeEntry" href="{% url geocamMapSet_index %}">And many more...</a>
</p>

<h3>Make your own map set:</h3>

<p><a class="welcomeEntry" href="{% url geocamMapSet_create %}">Let's get started &gt;&gt;</a></p>

{% endblock contents %}
